<div class="large-box">
  <div class="question-form">
    <h1>Stupid Coaching</h1>
    <p><%= @question %> -You</p>
    <p><%= @answer %> -Coach</p>
    <button class='btn btn-danger mb-4'><%= link_to "Ask a new question", :ask %></button>
  </div>
</div>
